* {
    box-sizing:border-box;
  }  
body {  
    margin: 0px;
     }  
.head  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

           }  
.content {
              width:100%;
          /*  border:5px solid black; */
         }  
.content  div {
            overflow: none;
                 border:3px solid black;
                 margin:4px;
                 background-color:rgb(140,140,140);
               }                  
.recipie {
            width:120px;
            height:40px;
            color:white;
            font-size:25px;
            font-weight:bold;
            text-align:center;
            border:3px solid black;
            float:right;
            position:relative;
            margin-top:-1px;
            margin-right:-2px;
            margin-bottom:0px;
         }
.first {
           background-color:#DC143C;
       }        
.second {
           background-color:#008B8B;    
        }
.third {
           background-color:#DB7093;
       }        
.para {  
    width:95%;
    height:auto;
         overflow: none;
         text-align:center;
         font-size:17px;
         color:black;
         margin-top:55px;
         margin-bottom:5px;
         margin-left:5px;
         margin-right:5px;
      }        
/*******************For larger devices - Desktops ***************************/
@media (min-width:992px) {
                           .col-lg-3 {
                                        float:left;                          
                                        width:25%;
                                     }
                         }
/*******************For medium devices - Tablets ***************************/
@media (min-width:768px) and (max-width:991px) {
                                                  .col-md-6,.col-md-12 {
                                                                         float:left;                      
                                                                       }
                                                  .col-md-6 {
                                                              width: 48%;
                                                            }
                                                  .col-md-12 {
                                                               width: 100%;
                                                             }          
                                                }                        
/*******************For smaller devices - Mobiles **************************/
@media (max-width:767px) {
                           .col-sm-12 {
                                        float: left;
                                         width: 100%;
                                      }
                         }                                          



/**************************************************************************************************/
